<!-- 提醒 -->
<% if(success) { %>
    <div class="alert alert-success notification" role="alert"><%= success %></div>
<% } %>
<% if(error) { %>
    <div class="alert alert-danger notifiation" role="alert"><%= error %></div>
<% } %>